<!-- Create Actors -->
<template>
	<div>	
		<div class="row">
			<div class="col-md-12">
				<h3>New Actor</h3>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-12">
				<form class="form" id="frmNewActor" v-on:submit="add">
				  <div class="form-group">
				    <label for="firstName">First Name</label>
				    <input type="text" v-model='firstName' class="form-control" id="firstName" name="firstName" required="required" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="lastName">Last Name</label>
				    <input type="text" v-model='lastName' required="required" class="form-control" id="lastName" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="birthDate">Birth date</label>
				    <input type="date" v-model='birthdate' required="required" class="form-control" id="birthDate" placeholder="">
				  </div>
				  <label class="radio-inline"> <input type="radio" v-model='gender' name="gender" id="inlineRadio1" value="M"> M </label> 
				  <label class="radio-inline"> <input type="radio" v-model='gender' name="gender" id="inlineRadio2" value="F"> F </label>
				  <div class="form-group" style="margin-top: 10px;">
				    <label for="movies">Movies</label>
				    <select required="required" data-placeholder="Choose a movie..." multiple class="chosen-select">
				    	<option v-for="movie in movies" :value="movie.id">{{ movie.name }}</option>
				    </select>
				  </div>
				  <div>
				  	<router-link class="btn btn-danger btn-sm pull-left" v-bind:to="'/actors'"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancel</router-link>
				  	<button type="submit" class="btn btn-success pull-right"><i class="fa fa-floppy-o"></i> Save</button>
			  	</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
 
var actorStorage = {
  fetch: function () {
    //get all actors in local storage
    var actors = JSON.parse(localStorage.getItem('actors') || '[]');
    return actors;
  },
  fetchMovies: function () {
    //get all movies in local storage
    var movies = JSON.parse(localStorage.getItem('movies') || '[]');
    return movies;
  },  
  generateId: function(){
    //generate new id from actors
    var actors = JSON.parse(localStorage.getItem('actors') || '[]');    
    var last = Object.keys(actors).length;
    var cont = 0;
    var newId = 1;

    actors.forEach(function(item) {
    	cont ++;
    	newId = (cont == last) ? Number(item.id) + 1 : 1;
		});

		return newId;
  }
}

export default {
  name: 'newActor',
  data() {
    return {
    	firstName: '',
    	lastName: '',
    	gender: '',
    	birthdate: '',
    	movieSelected: '',
      actors: actorStorage.fetch(),
      movies: actorStorage.fetchMovies()
    }
  },
  watch: {
   
  },
  methods:{
    //create new actor
    add: function(e){
      e.preventDefault();        
      this.actors.push({
      	id:  actorStorage.generateId(),
        first_name: this.firstName,
        last_name: this.lastName,
        gender: this.gender,
        birth_date: this.birthdate,
        movies: $('.chosen-select').val()
      });
      localStorage.setItem('actors', JSON.stringify(this.actors));
      alert('Saved successfully!');
      this.$router.push('/actors');     
    }
  },
  mounted: function(){
  	$(".chosen-select").chosen({
			no_results_text: "Oops, nothing found!",
			max_selected_options: 5
		});
  }
}
</script>
<!-- styling for the component -->
<style>

</style>