<!-- List All Actors -->
<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <h1>Actors List</h1>
        <router-link class="btn btn-primary btn-sm" v-bind:to="'/actors/create'"><i class="fa fa-plus"></i>&nbsp;&nbsp;New</router-link>        
      </div>
    </div>    
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Birth Date</th>
              <th colspan="2"></th>          
            </tr>
          </thead>
          <tbody>
            <tr v-for='item in actors'>
              <td>{{ item.first_name }}</td>
              <td>{{ item.last_name }}</td>
              <td>{{ item.gender }}</td>
              <td>{{ item.birth_date }}</td>
              <td><button class="btn btn-danger btn-xs" v-on:click="deleteActor(item.id)"><i class="fa fa-trash"></i></button></td>
              <td><router-link :to="{ name: 'UpdateActor', params: { actorId: item.id }}"><i class="fa fa-pencil"></i></router-link></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>        
  </div>
</template>

<script>
var actorStorage = {
  //get all actors
  fetch: function () {
    var actors = JSON.parse(localStorage.getItem('actors') || '[]');
    return actors;
  }
}
export default {
  name: 'actors',
  data() {
    return {
      msg: 'Bienvenido a actores',
      actors: actorStorage.fetch(),
    }
  },  
  methods: {
    //delete actor
    deleteActor: function(index){
      //get all actors except the index and save in local storage
      this.actors = this.actors.filter(function(obj){
        return obj.id !== index;
      });
      localStorage.setItem('actors', JSON.stringify(this.actors));
    }
  }
}
</script>
<!-- styling for the component -->
<style>

</style>