<!-- Update an Actor -->
<template>
	<div>	
		<div class="row">
			<div class="col-md-12">
				<h3>Edit Actor</h3>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-12">
				<form class="form" id="frmNewActor" v-on:submit="update">
				  <div class="form-group">
				    <label for="firstName">First Name</label>
				    <input type="text" v-model='actor.first_name' class="form-control" id="firstName" name="firstName" required="required" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="lastName">Last Name</label>
				    <input type="text" v-model='actor.last_name' required="required" class="form-control" id="lastName" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="birthDate">Birth date</label>
				    <input type="date" v-model='actor.birth_date' required="required" class="form-control" id="birthDate" placeholder="">
				  </div>
				  <label class="radio-inline"> <input type="radio" v-model='actor.gender' name="gender" id="inlineRadio1" value="M"> M </label> 
				  <label class="radio-inline"> <input type="radio" v-model='actor.gender' name="gender" id="inlineRadio2" value="F"> F </label>
				  <div class="form-group" style="margin-top: 10px;">
				    <label for="lastName">Movies</label>
				    <select id="combo" data-placeholder="Choose a movie..." multiple class="chosen-select">
				    	<option v-for="movie in movies" :value="movie.id">{{ movie.name }}</option>
				    </select>
				  </div>
				  <div>
				  	<router-link class="btn btn-danger btn-sm pull-left" v-bind:to="'/actors'"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancel</router-link>
				  	<button type="submit" class="btn btn-success pull-right"><i class="fa fa-floppy-o"></i> Save</button>
			  	</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
 
var actorStorage = {
  fetch: function () {
    var actors = JSON.parse(localStorage.getItem('actors') || '[]');
    return actors;
  },
  fetchMovies: function () {
    var movies = JSON.parse(localStorage.getItem('movies') || '[]');
    return movies;
  }
}

export default {
  name: 'updateActor',
  data() {
    return {
    	firstName: '',
    	lastName: '',
    	gender: '',
    	birthdate: '',
    	movieSelected: '',
      actors: actorStorage.fetch(),
      movies: actorStorage.fetchMovies(),
      idEdit: this.$route.params.actorId,
      actor: []
    }
  },
  watch: {
    
  },
  methods:{
    //get actor data
    getActor: function(){
      var vm = this;
      var actorData = this.actors.filter(function(obj){
        return obj.id == vm.idEdit;
      });
      vm.actor = actorData[0];
    },
    update: function(e){
      //update actor
      e.preventDefault();  
      var vm = this;
      this.actors = this.actors.filter(function(obj){
        return obj.id !== vm.idEdit;
      });          
      this.actors.push({
        id: vm.idEdit,
        first_name: vm.actor.first_name,
        last_name: vm.actor.last_name,
        gender: vm.actor.gender,
        birth_date: vm.actor.birth_date,
        movies: vm.actor.movies
      });

      localStorage.setItem('actors', JSON.stringify(this.actors));
      //localStorage.setItem('actors', JSON.stringify(this.actors));
      alert('Saved successfully!');
      this.$router.push('/actors');     
    },
    chosen: function(){
      console.log('choseneee');
      $("#combo").chosen({
        no_results_text: "Oops, nothing found!",
        max_selected_options: 5
      });
    }
  },  
  mounted: function(){      	
    this.getActor();
    this.chosen();
  }
}
</script>
<!-- styling for the component -->
<style>

</style>