<template>
	<div>	
		<div class="row">
			<div class="col-md-12">
				<h3>New Movie</h3>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-12">
				<form class="form" id="frmNewActor" v-on:submit="add">
				  <div class="form-group">
				    <label for="name">Name</label>
				    <input type="text" required="required" v-model='name' class="form-control" name="name" id="name" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="releaseYear">Relase Year</label>
				    <input type="number" required="required" v-model='releaseYear' class="form-control" name="releaseYear" id="releaseYear" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="grossIncome">Gross Income</label>
				    <input type="number" required="required" v-model='grossIncome' class="form-control" name="grossIncome" id="grossIncome" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="directorName">Director Name</label>
				    <input type="text" required="required" v-model='directorName' class="form-control" name="directorName" id="directorName" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="rating">Rating</label>
				    <input type="number" required="required" v-model='rating' class="form-control" name="rating" id="rating" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="genre">Genre</label>
				    <select v-model='genre' class="form-control" name="genre" id="genre">
				    	<option value="adventure"> Adventure </option>
							<option value="fiction"> Fiction </option>
							<option value="action"> Action </option>
							<option value="horror"> Horror </option>
							<option value="comedy"> Comedy </option>
							<option value="romantic"> Romantic </option>
							<option value="drama"> Drama </option>
				    </select>
				  </div>
				  <div class="form-group" style="margin-top: 10px;">
				    <label for="actors">Actors</label>
				    <select data-placeholder="Choose a actor..." multiple class="chosen-select">
				    	<option v-for="actor in actors" :value="actor.id">{{ actor.first_name + ' ' + actor.last_name }}</option>
				    </select>
				  </div>				  
				  <div>
				  	<router-link class="btn btn-danger btn-sm pull-left" v-bind:to="'/movies'"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancel</router-link>
				  	<button type="submit" class="btn btn-success pull-right"><i class="fa fa-floppy-o"></i> Save</button>
			  	</div>
				</form>
			</div>
		</div>
	</div>  
</template>

<script>
var movieStorage = {
  fetch: function () {
    var movies = JSON.parse(localStorage.getItem('movies') || '[]');
    return movies;
  },
  fetchActors: function () {
    var actors = JSON.parse(localStorage.getItem('actors') || '[]');
    return actors;
  },
  generateId: function(){
    var movies = JSON.parse(localStorage.getItem('movies') || '[]');
    //var id = movies[movies.lenght].id;
    var last = Object.keys(movies).length;
    var cont = 0;
    var newId = 1;

    movies.forEach(function(item) {
    	cont ++;
    	newId = (cont == last) ? Number(item.id) + 1 : 1;
		});

		return newId;
  }
}

export default {
  name: 'newMovie',
  data() {
    return {
    	name: '',
    	releaseYear: '',
    	grossIncome: '',
    	directorName: '',
    	rating: '',
    	genre: '',
      movies: movieStorage.fetch(),
      actors: movieStorage.fetchActors()
    }
  },
  watch: {
   
  },
  methods:{
    add: function(e){
      e.preventDefault();  
      //actorStorage.generateId();    
      this.movies.push({
      	id: movieStorage.generateId(),
      	name: this.name,      	
        release_year: this.releaseYear,
        gross_income: this.grossIncome,
        director_name: this.directorName,
        rating: this.rating,
        genre: this.genre,
        autors: $('.chosen-select').val()
      });
      localStorage.setItem('movies', JSON.stringify(this.movies));
      alert('Saved successfully!');
      this.$router.push('/movies');     
    }
  },
  mounted: function(){
  	$(".chosen-select").chosen({
			no_results_text: "Oops, nothing found!",
			max_selected_options: 5
		});
  }
}
</script>
<!-- styling for the component -->
<style>

</style>