<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <h1>Movies List</h1>
        <router-link class="btn btn-primary btn-sm" v-bind:to="'/movies/create'"><i class="fa fa-plus"></i>&nbsp;&nbsp;New</router-link>
      </div>
    </div>    
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Release Year</th>
              <th>Gross Income</th>
              <th>Director Name</th>
              <th>Rating</th>
              <th>Genre</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='item in movies'>
              <td>{{ item.name }}</td>
              <td>{{ item.release_year }}</td>
              <td>{{ item.gross_income }}</td>
              <td>{{ item.director_name }}</td>
              <td>{{ item.rating }}</td>
              <td>{{ item.genre }}</td>
              <td><button class="btn btn-danger btn-xs" v-on:click="deleteMovie(item.id)"><i class="fa fa-trash"></i></button></td>
              <td><router-link :to="{ name: 'UpdateMovie', params: { movieId: item.id }}"><i class="fa fa-pencil"></i></router-link></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>        
  </div>
</template>

<script>
var movieStorage = {
  fetch: function () {
    var movies = JSON.parse(localStorage.getItem('movies') || '[]');
    return movies;
  }  
}

export default {
  name: 'movies',
  data() {
    return {
      msg: 'Bienvenido a actores',
      movies: movieStorage.fetch(),
    }
  },  
  methods: {
    deleteMovie: function(index){
      this.movies = this.movies.filter(function(obj){
        return obj.id !== index;
      });
      localStorage.setItem('movies', JSON.stringify(this.movies));
    }
  }
}
</script>
<!-- styling for the component -->
<style>

</style>