<template>
	<div>	
		<div class="row">
			<div class="col-md-12">
				<h3>New Movie</h3>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-12">
				<form class="form" id="frmNewActor" v-on:submit="update">
				  <div class="form-group">
				    <label for="name">Name</label>
				    <input type="text" required="required" v-model='movie.name' class="form-control" name="name" id="name" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="releaseYear">Relase Year</label>
				    <input type="number" required="required" v-model='movie.release_year' class="form-control" name="releaseYear" id="releaseYear" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="grossIncome">Gross Income</label>
				    <input type="number" required="required" v-model='movie.gross_income' class="form-control" name="grossIncome" id="grossIncome" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="directorName">Director Name</label>
				    <input type="text" required="required" v-model='movie.director_name' class="form-control" name="directorName" id="directorName" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="rating">Rating</label>
				    <input type="number" required="required" v-model='movie.rating' class="form-control" name="rating" id="rating" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="genre">Genre</label>
				    <select v-model='movie.genre' class="form-control" name="genre" id="genre">
				    	<option value="adventure"> Adventure </option>
							<option value="fiction"> Fiction </option>
							<option value="action"> Action </option>
							<option value="horror"> Horror </option>
							<option value="comedy"> Comedy </option>
							<option value="romantic"> Romantic </option>
							<option value="drama"> Drama </option>
				    </select>
				  </div>
				  <div class="form-group" style="margin-top: 10px;">
				    <label for="actors">Actors</label>
				    <select id="combo" data-placeholder="Choose a actor..." multiple class="chosen-select">
				    	<option v-for="actor in actors" :value="actor.id">{{ actor.first_name + ' ' + actor.last_name }}</option>
				    </select>
				  </div>				  
				  <div>
				  	<router-link class="btn btn-danger btn-sm pull-left" v-bind:to="'/movies'"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancel</router-link>
				  	<button type="submit" class="btn btn-success pull-right"><i class="fa fa-floppy-o"></i> Save</button>
			  	</div>
				</form>
			</div>
		</div>
	</div>  
</template>

<script>
 
var movieStorage = {
  fetch: function () {
    var movies = JSON.parse(localStorage.getItem('movies') || '[]');
    return movies;
  },
  fetchActors: function () {
    var actors = JSON.parse(localStorage.getItem('actors') || '[]');
    return actors;
  }
}

export default {
  name: 'updateActor',
  data() {
    return {
    	name: '',
    	releaseYear: '',
    	grossIncome: '',
    	directorName: '',
    	rating: '',
    	genre: '',
      movies: movieStorage.fetch(),
      actors: movieStorage.fetchActors(),
      idEdit: this.$route.params.movieId,
      movie: []
    }
  },
  watch: {
    
  },
  methods:{
    getMovie: function(){
      var vm = this;
      var movieData = this.movies.filter(function(obj){
        return obj.id == vm.idEdit;
      });
      vm.movie = movieData[0];
    },
    update: function(e){
      e.preventDefault();  
      var vm = this;
      this.movies = this.movies.filter(function(obj){
        return obj.id !== vm.idEdit;
      });
         
      this.movies.push({
        id: vm.idEdit,
        name: vm.movie.name,
        release_year: vm.movie.release_year,
        gross_income: vm.movie.gross_income,
        director_name: vm.movie.director_name,
        rating: vm.movie.rating,
        genre: vm.movie.genre,
        actors: vm.movie.actors
      });

      localStorage.setItem('movies', JSON.stringify(this.movies));
      //localStorage.setItem('movies', JSON.stringify(this.movies));
      alert('Saved successfully!');
      this.$router.push('/movies');     
    },
    chosen: function(){
      console.log('choseneee');
      $("#combo").chosen({
        no_results_text: "Oops, nothing found!",
        max_selected_options: 5
      });
    }
  },  
  mounted: function(){      	
    this.getMovie();
    this.chosen();
  }
}
</script>
<!-- styling for the component -->
<style>

</style>