<template>
  <div>
  	<h3>Recent Movies</h3>
  	<div class="row">
  		<div class="col-md-12">
  			<div class="form-group">
          <input type="text" v-model="search" class="form-control" placeholder="Search">
        </div>  			
  		</div>
  	</div>  	
	  <div class="row">
  		<div class="col-md-12">  		
  			<div class="col-md-2" v-for="item in filteredItems" v-on:click="showMovieModal(item.id)" style="border: 1px solid #a5a5a5; text-align:center; cursor: pointer;">
  				<div style="text-align: center;">
  					<i class="fa fa-film" style="font-size: 25pt;"></i>
  				</div>
  				<div>
  					<p style="font-weight: bold;">{{item.name}}</p>
					</div>
		      <div style="font-size:9pt;">
		      	<span class="pull-left"><b>Year:</b> {{item.release_year}}</span>
		      	<span class="pull-right"><b>Rating:</b> {{item.rating}}</span>
	      	</div>
		    </div>
  		</div>
  	</div>

		<div class="modal fade" tabindex="-1" id="modalMovie" role="dialog" aria-labelledby="gridSystemModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel"><i class="fa fa-video-camera"></i><b> {{ movie.name }}</b></h4>
		      </div>
		      <div class="modal-body">
		        
		        <div class="row">
		          <div class="col-md-6">
		          	<table>
		          		<tr>
		          			<td><b>Release Year</b></td>
		          			<td class="detail">{{ movie.release_year }}</td>		          			
	          			</tr>
	          			<tr>
	          				<td><b>Gross Income</b></td>
	          				<td class="detail">{{ movie.gross_income }}</td>
	          			</tr>
	          			<tr>
	          				<td><b>Director Name</b></td>
	          				<td class="detail">{{ movie.director_name }}</td>
	          			</tr>		          			
	          			<tr>
	          				<td><b>Rating</b></td>
	          				<td class="detail">{{ movie.rating }}</td>
	          			</tr>
	          			<tr>
	          				<td><b>Genre</b></td>
	          				<td class="detail">{{ movie.genre }}</td>
	          			</tr>		          			
		          	</table>		            
		          </div>
		          <div class="col-md-6">
		          	<table>
		          		<tr>
		          			<td><b>Actors</b></td>
		          		</tr>
		          		<tr>
		          			<td>
		          				<p style="color: #286090; cursor: pointer;" v-on:click="showActorModal(actor.id)" v-for="actor in actorsMovie"><i class="fa fa-user"></i> {{ actor.first_name + ' ' + actor.last_name }}</p>		          				
		          			</td>
		          		</tr>
		          	</table>
		          </div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


		<div class="modal fade" tabindex="-1" id="modalActor" role="dialog" aria-labelledby="gridSystemModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel"><i class="fa fa-user"></i><b> {{ actor.first_name + ' ' + actor.last_name }}</b></h4>
		      </div>
		      <div class="modal-body">
		        
		        <div class="row">
		          <div class="col-md-6">
		          	<table>
	          			<tr>
	          				<td><b>Birth Date</b></td>
	          				<td class="detail">{{ actor.birth_date }}</td>
	          			</tr>
	          			<tr>
	          				<td><b>Gender</b></td>
	          				<td class="detail">{{ actor.gender }}</td>
	          			</tr>	          					          			
		          	</table>		            
		          </div>
		          <div class="col-md-6">
		          	<table>
		          		<tr>
		          			<td><b>Movies</b></td>
		          		</tr>
		          		<tr>
		          			<td>		          			
		          				<p style="color: #286090; cursor: pointer;" v-on:click="showMovieModal(movie.id)" v-for="movie in moviesActor"><i class="fa fa-film"></i> {{ movie.name }}</p>
		          			</td>
		          		</tr>
		          	</table>
		          </div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	  </div>	  
</template>

<script>
var movieStorage = {
  fetchMovies: function () {
    var movies = JSON.parse(localStorage.getItem('movies') || '[]');
    return movies;
  },
  fetchActors: function () {
    var actors = JSON.parse(localStorage.getItem('actors') || '[]');
    return actors;
  } 
}

export default {
  name: 'home',
  data() {
    return {
    	movies: movieStorage.fetchMovies(),
    	actors: movieStorage.fetchActors(),
    	actorsMovie: [],
    	search: '',
    	idMovie: '',
    	actor: [],
    	movie: [],
    	moviesActor: [],
    }
  },
  methods: {
  	getRecentMovies: function(){
  	},
  	showMovieModal: function(id){
  		var vm = this;
  		var movieInfo = this.movies.filter(function(obj){
        return obj.id == id;
      });
      vm.movie = movieInfo[0];
      var actores = vm.movie.actors;
			vm.actorsMovie = [];
			$.each(vm.movie.actors, function( index, value ) {
				
			  var actorInfo = vm.actors.filter(function(obj){
	        return obj.id == value;
	      });
	      vm.actorsMovie.push(actorInfo[0]);
			});			      
      
  		$('#modalActor').modal('hide');      
  		$('#modalMovie').modal();
  	},

  	showActorModal: function(id){
  		var vm = this;
  		var actorInfo = this.actors.filter(function(obj){
        return obj.id == id;
      });
      vm.actor = actorInfo[0];
      var movies = vm.actor.movies;
			vm.moviesActor = [];
			$.each(vm.actor.movies, function( index, value ) {
				
			  var movieInfo = vm.movies.filter(function(obj){
	        return obj.id == value;
	      });
	      vm.moviesActor.push(movieInfo[0]);
			});			      
      
  		$('#modalMovie').modal('hide');
  		$('#modalActor').modal();
  	}
  },
  mounted: function(){
  	this.getRecentMovies();
  },
  computed: {
    filteredItems() {
      return this.movies.filter(item => {
         return item.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
      }).sort(( a, b) => { return b.release_year - a.release_year; })
    }
  }
}
</script>
<!-- styling for the component -->
<style>
	.detail {
		padding-left:10px !important;
	}
</style>