<template>  
  <div id="app">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="">
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><router-link v-bind:to="'/'"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</router-link></li>                      
          </ul>
          <ul class="nav navbar-nav navbar-right">          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
              <ul class="dropdown-menu">              
                <li><router-link v-bind:to="'/actors'"><i class="fa fa-user-o"></i>&nbsp;&nbsp;Actors</router-link></li> 
                <li><router-link v-bind:to="'/movies'"><i class="fa fa-film"></i>&nbsp;&nbsp;Movies</router-link></li>              
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">      
      <router-view></router-view>      
    </div>
  </div>
</template>

<script>

var actors = [
  { id: 1, first_name: 'Leonardo', last_name: 'DiCaprio', gender: 'M', birth_date: '1974-11-11', movies: [ '1', '3' ] },
  { id: 2, first_name: 'Kate', last_name: 'Winslet', gender: 'F', birth_date: '1975-10-05', movies: [ '3' ] },
  { id: 3, first_name: 'Sylvester', last_name: 'Stallone', gender: 'M', birth_date: '1946-07-06', movies: [ '2', '4' ] },
  { id: 4, first_name: 'Jason', last_name: 'Statham', gender: 'M', birth_date: '1967-07-26', movies: [ '6', '4' ] },
  { id: 5, first_name: 'Arnold', last_name: 'Schwarzenegger', gender: 'M', birth_date: '1947-07-30', movies: [ '4', '5' ] },        
];

var movies = [
  { id: 1, name: 'The Wolf of Wall Street', release_year: '2013', gross_income: '2000000', director_name: 'Martin Scorsese', rating: '3', genre:'drama',  actors: [ '1' ] },
  { id: 2, name: 'Rocky', release_year: '1976', gross_income: '300000', director_name: 'Jhon G.', rating: '5', genre:'action',  actors: [ '3' ] },
  { id: 3, name: 'Titanic', release_year: '1997', gross_income: '4000000', director_name: 'James Camerun', rating: '5', genre:'romantic',  actors: [ '1', '2' ] },
  { id: 4, name: 'The Expendables', release_year: '2010', gross_income: '5000000', director_name: 'Sylvester Stallone', rating: '4', genre:'action',  actors: [ '3', '4', '5' ] },
  { id: 5, name: 'Terminator: Génesis', release_year: '2015', gross_income: '600000', director_name: 'Alan Taylor', rating: '4', genre:'action',  actors: [ '5' ] },        
  { id: 6, name: 'Fast & Furious 8', release_year: '2017', gross_income: '65300000', director_name: 'James Wan', rating: '5', genre:'drama',  actors: [ '4' ] },        
  { id: 7, name: 'Inception', release_year: '2010', gross_income: '1500240', director_name: 'Christopher Nolan', rating: '4', genre:'adventure',  actors: [ '1' ] },        
  { id: 8, name: 'Escape Plan', release_year: '2013', gross_income: '7850000', director_name: 'Mikael H.', rating: '3', genre:'action',  actors: [ '3', '5' ] },        
];

// Put the object into storage
localStorage.setItem('actors', JSON.stringify(actors));
localStorage.setItem('movies', JSON.stringify(movies));

export default {
  name: 'app'
}
</script>
<!-- styling for the component -->
<style>

</style>
